.screen {
  height: 4rem;
  width: 100%;
  margin-top: 1.5rem;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  font-weight: 400;
  border: none;
  box-sizing: border-box;
  padding-right: 0.85rem;
}
.display-text {
  font-size: 2.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

/* Responsive font size adjustments */
@media (max-width: 375px) {
  .screen {
    height: 3rem;
    margin-top: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    font-weight: 400;
    border: none;
    box-sizing: border-box;
    padding-right: 0.85rem;
  }
  /* .display-text {
    font-size: 3rem;
  } */
}

@media (max-width: 400px) {
  .display-text {
    font-size: 1rem;
  }
}
