.wrapper {
  background-color: hsl(0, 0%, 0%);
  background-image: linear-gradient(
    315deg,
    hsl(0, 0%, 0%) 0%,
    hsl(0, 0%, 0%) 74%
  );
  height: 31.5rem;
  width: 90%;
  border-radius: 2.2rem;
  margin-right: 0.5rem;
  margin-left: 0.25rem;
  padding: 0.1rem 0.9rem;
  /* padding-top: 0.1rem; */
}
/* .contents{
    display: flex;
} */

@media (max-width: 375px) {
  .wrapper {
    height: 27rem;
    margin-left: 0.01rem;
    padding: 0.01rem 0.1rem;
    border-radius: 2rem;
    width: 100%;
  }
}
